@use "./base.scss";

// put your custom CSS here!
/* Корнилов */
.graph-node.tag-корнилов {
  fill: #e63946;  /* красный */
}

/* Милованов */
.graph-node.tag-милованов {
  fill: #f1fa8c;  /* жёлтый */
}

/* Пархоменко */
.graph-node.tag-пархоменко {
  fill: #457b9d;  /* синий */
}

/* Тарасюк */
.graph-node.tag-тарасюк {
  fill: #2a9d8f;  /* бирюзовый */
}

/* Тингаев */
.graph-node.tag-тингаев {
  fill: #ff9f1c;  /* оранжевый */
}

/* Марченко */
.graph-node.tag-марченко {
  fill: #9b5de5;  /* фиолетовый */
}

/* Баженов */
.graph-node.tag-баженов {
  fill: #00b4d8;  /* голубой */
}

/* Головинск */
.graph-node.tag-головинск {
  fill: #f72585;  /* розовый */
}

/* Вагин */
.graph-node.tag-вагин {
  fill: #7209b7;  /* тёмно-фиолетовый */
}

/* Шкирдов */
.graph-node.tag-шкирдов {
  fill: #4cc9f0;  /* небесно-голубой */
}
